In [ ]:
import numpy as np
import pandas as pd

In [ ]:
pd.read_excel('CPPI.xlsx', sheet_name='CPPI', header=5)

In [ ]:
d = pd.read_excel('CPPI.xlsx', sheet_name=None)
d.keys()

In [ ]:
type(d)

In [ ]:
d['data']

In [ ]:
d[list(d.keys())[0]]

In [ ]:
df = pd.read_excel('CPPI.xlsx')
df

In [ ]:
df['sp500'].plot()

In [ ]:
df.plot(x='date', y='sp500')

In [ ]:
df

In [ ]:
df['sp500'].pct_change()

In [ ]:
df['ret'] = df['sp500'].pct_change()
df

In [ ]:
V = 10000
F = 0.85
M = 4
rate = 0.02 / 12

In [ ]:
df['stock100'] = df['ret'] + 1
df

In [ ]:
df.loc[0, 'stock100'] = V
df

In [ ]:
df['stock100']  = df['stock100'].cumprod()
df

In [27]:
import numpy as np
import pandas as pd

V = 10000
F = 0.85
M = 4
rate = 0.02 / 12

df = pd.read_excel('CPPI.xlsx')
df['ret'] = df['sp500'].pct_change()
df['stock100'] = df['ret'] + 1
df.loc[0, 'stock100'] = V
df['stock100']  = df['stock100'].cumprod()
df

          date    sp500       ret      stock100
0   2000-01-31  1394.46       NaN  10000.000000
1   2000-02-29  1366.42 -0.020108   9798.918578
2   2000-03-31  1498.58  0.096720  10746.668961
3   2000-04-28  1452.43 -0.030796  10415.716478
4   2000-05-31  1420.60 -0.021915  10187.456076
..         ...      ...       ...           ...
259 2021-08-31  4522.68  0.028990  32433.199948
260 2021-09-30  4307.54 -0.047569  30890.380506
261 2021-10-29  4605.38  0.069144  33026.261062
262 2021-11-30  4567.00 -0.008334  32751.029072
263 2021-12-31  4766.18  0.043613  34179.395608

[264 rows x 4 columns]