In [1]:
cars = ['benz', 'bmw', 'audi', 'tesla']
cars

['benz', 'bmw', 'audi', 'tesla']

In [4]:
for car in cars:
    if car == 'bmw':
        print(car.upper())
    else:
        print(car.title())

Benz
BMW
Audi
Tesla

## checking whether a value is in a list

In [5]:
cars = ['benz', 'bmw', 'audi', 'tesla']
cars

['benz', 'bmw', 'audi', 'tesla']

In [6]:
'benz' in cars

True

In [7]:
'toyota' in cars

False

In [8]:
'benz' not in cars

False

In [9]:
'toyota' not in cars

True

## if-elif-else statement

In [10]:
age = 12

if age <= 4:
    price = 0
elif age <= 18:
    price = 25
elif age <= 65:
    price = 40
else:
    price = 20

In [11]:
price

25

## checking that a list is not empty

In [14]:
a = [2, 3]
a

[2, 3]

In [15]:
if a:
    print('true')
else:
    print('false')

true

In [16]:
list((5, 6))

[5, 6]

In [17]:
tuple([5, 6])

(5, 6)