In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_excel('historical simulation.xlsx', header=8)
df

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
df['FTSE100($)'] = df['FTSE 100'] * df['USD/GBP']
df

In [ ]:
df['CAC40($)'] = df['CAC40'] / df['EUR/USD']
df

In [ ]:
df['Nikkei225($)'] = df['Nikkei 225'] / df['JPY/USD']
df

In [ ]:
df

In [ ]:
del df['FTSE 100'], df['CAC40'], df['Nikkei 225']
del df['USD/GBP'], df['EUR/USD'], df['JPY/USD']
df

In [ ]:
df

In [ ]:
df = df.set_index(['Day', 'Date'])
df

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
df.values

In [ ]:
df

In [ ]:
ret = df.pct_change() + 1
ret

In [ ]:
ret.drop(index=0, inplace=True)
ret

In [ ]:
ret.index = ret.index.droplevel(1)
ret

In [ ]:
ret.index.name = 'Scenario'

In [ ]:
ret

In [ ]:
import numpy as np
import pandas as pd

df = pd.read_excel('historical simulation.xlsx', header=8)
df['FTSE100($)'] = df['FTSE 100'] * df['USD/GBP']
df['CAC40($)'] = df['CAC40'] / df['EUR/USD']
df['Nikkei225($)'] = df['Nikkei 225'] / df['JPY/USD']

del df['FTSE 100'], df['CAC40'], df['Nikkei 225']
del df['USD/GBP'], df['EUR/USD'], df['JPY/USD']
df = df.set_index(['Day', 'Date'])
ret = df.pct_change() + 1
ret.drop(index=0, inplace=True)
ret.index = ret.index.droplevel(1)
ret.index.name = 'Scenario'
ret

In [ ]:
df

In [ ]:
price_today = df.iloc[-1]
price_today

In [ ]:
ret

In [ ]:
ret.mul(price_today)

In [ ]:
portfolio = np.array([4000, 3000, 1000, 2000])
portfolio

In [ ]:
df = ret * portfolio
df

In [ ]:
df['portfolio value'] = df.sum(axis=1)
df

In [ ]:
df['P/L'] = df['portfolio value'] - 10000
df

In [ ]:
df['P/L(%)'] = df['P/L'] / 10000 * 100
df

In [ ]:
import numpy as np
import pandas as pd

df = pd.read_excel('historical simulation.xlsx', header=8)
df['FTSE100($)'] = df['FTSE 100'] * df['USD/GBP']
df['CAC40($)'] = df['CAC40'] / df['EUR/USD']
df['Nikkei225($)'] = df['Nikkei 225'] / df['JPY/USD']

del df['FTSE 100'], df['CAC40'], df['Nikkei 225']
del df['USD/GBP'], df['EUR/USD'], df['JPY/USD']
df = df.set_index(['Day', 'Date'])
display(df)

ret = df.pct_change() + 1
ret.drop(index=0, inplace=True)
ret.index = ret.index.droplevel(1)
ret.index.name = 'Scenario'
display(ret)

portfolio = np.array([4000, 3000, 1000, 2000])
df = ret * portfolio
df['portfolio value'] = df.sum(axis=1)
df['P/L'] = df['portfolio value'] - 10000
df['P/L(%)'] = df['P/L'] / 10000 * 100
df

In [ ]:
df.sort_values(by='P/L')

In [ ]:
profit = df.sort_values(by='P/L')['P/L'].values
VaR99 = -profit[4]
VaR99

In [ ]:
ES99 = -np.mean(profit[:5])
ES99

In [66]:
import numpy as np
import pandas as pd

df = pd.read_excel('historical simulation.xlsx', header=8)
df['FTSE100($)'] = df['FTSE 100'] * df['USD/GBP']
df['CAC40($)'] = df['CAC40'] / df['EUR/USD']
df['Nikkei225($)'] = df['Nikkei 225'] / df['JPY/USD']

del df['FTSE 100'], df['CAC40'], df['Nikkei 225']
del df['USD/GBP'], df['EUR/USD'], df['JPY/USD']
df = df.set_index(['Day', 'Date'])

ret = df.pct_change() + 1
ret.drop(index=0, inplace=True)
ret.index = ret.index.droplevel(1)
ret.index.name = 'Scenario'

portfolio = np.array([4000, 3000, 1000, 2000])
df = ret * portfolio
df['portfolio value'] = df.sum(axis=1)
df['P/L'] = df['portfolio value'] - 10000
df['P/L(%)'] = df['P/L'] / 10000 * 100
display(df.sort_values(by='P/L').round(2))

profit = df.sort_values(by='P/L')['P/L'].values
VaR99 = -profit[4]
ES99 = -np.mean(profit[:5])
print('99% 1-day VaR(Value-at-Risk)     = ', round(VaR99, 2), '$')
print('99% 1-day ES(Expected Shortfall) = ', round(ES99, 2), '$')

,S&P500,FTSE100($),CAC40($),Nikkei225($),portfolio value,P/L,P/L(%)
Scenario,,,,,,,
427,3620.34,2663.72,872.97,1920.49,9077.52,-922.48,-9.22
429,3520.81,2767.97,940.02,1912.78,9141.58,-858.42,-8.58
424,3696.53,2779.70,929.33,1940.90,9346.46,-653.54,-6.54
415,3749.44,2860.74,947.29,1952.31,9509.78,-490.22,-4.90
482,3764.68,2898.86,955.73,1958.43,9577.71,-422.29,-4.22
...,...,...,...,...,...,...,...
485,4075.92,3088.10,1036.23,2094.66,10294.91,294.91,2.95
430,4239.95,3016.26,1029.14,2010.79,10296.14,296.14,2.96
443,4281.38,2968.02,1042.21,2071.59,10363.19,363.19,3.63
435,4046.15,3299.22,1048.38,2155.06,10548.81,548.81,5.49
434,4375.74,3036.15,1091.87,2135.60,10639.36,639.36,6.39

99% 1-day VaR(Value-at-Risk)     =  422.29 $
99% 1-day ES(Expected Shortfall) =  669.39 $