In [16]:
import pandas as pd
import numpy as np
creditcard = pd.read_csv('default.csv')
creditcard.head()

  default student      balance       income
0     Yes     Yes  1486.998122  17854.39703
1     Yes     Yes  2205.799521  14271.49225
2     Yes     Yes  1774.694223  20359.50609
3     Yes      No  1889.599190  48956.17159
4     Yes     Yes  1899.390626  20655.20000

In [17]:
creditcard['defaullt'] = creditcard['default'].map({'Yes' : 1, 'No' : 0})
creditcard['student'] = creditcard['student'].map({'Yes':1, 'No':0})
creditcard.head()

  default  student      balance       income  defaullt
0     Yes        1  1486.998122  17854.39703         1
1     Yes        1  2205.799521  14271.49225         1
2     Yes        1  1774.694223  20359.50609         1
3     Yes        0  1889.599190  48956.17159         1
4     Yes        1  1899.390626  20655.20000         1

In [18]:
creditcard['default'].value_counts()

No     476
Yes    333
Name: default, dtype: int64

In [12]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

## StandardScaler - scaling
####  - 개별 특성 변수를 평균이 0이고 표준편차가 1인 값으로 표준화를 해줌

In [19]:
scaler = StandardScaler()
# feature(x)만 scaling 대상이고, y는 0또는1이다
creditcard_Xscaled = scaler.fit_transform(creditcard[['student', 'balance', 'income']])
X_train, X_test, y_train, y_test = train_test_split(
    creditcard_Xscaled,
    creditcard['default'],
    test_size=0.3, random_state=0)

In [20]:
from sklearn.linear_model import LogisticRegression
# penalty, 과적합 예방 변수로 11, 12, none이 default dla 
lr_clf = LogisticRegression( penalty='none')
lr_clf.fit(X_train, y_train)
lr_clf.coef_

array([[-0.38319425,  4.01243062, -0.28954033]])

### 1) t가 우리가 구한 모델인지
### 2) feature들의 오즈비를 구해서 실제로 y값에 영향을 끼치는 변수인지 검토 하는지 
### >> cutoff 값을 기준으로 양인지 음인지 판단하고, 모델로 도출된 값에 대한 판단인데,