In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pandas.tseries.offsets import *
from scipy import stats

crsp = pd.read_csv('crsp_d(2005).csv')
crsp['date'] = pd.to_datetime(crsp['date'])
crsp.dropna(subset=['ret'], inplace=True)
crsp.sort_values(by=['permno', 'date'])
crsp['year'] = crsp['date'].dt.year
crsp['month'] = crsp['date'].dt.month
crsp.head()

   permno       date       ret  year  month
1   68742 2005-01-03 -0.052893  2005      1
2   68830 2005-01-03 -0.005925  2005      1
3   68857 2005-01-03  0.000803  2005      1
4   69032 2005-01-03  0.006844  2005      1
5   69075 2005-01-03 -0.010221  2005      1

In [3]:
crsp = crsp.groupby(by=["permno", "year", "month"], as_index=False).max()
crsp = crsp.drop(columns='date')
crsp = crsp.rename(columns={'ret':'maxret'})
crsp

       permno  year  month    maxret
0       10042  2005      1  0.067308
1       10042  2005      2  0.081395
2       10042  2005      3  0.086420
3       10042  2005      4  0.043478
4       10042  2005      5  0.104478
5       10042  2005      6  0.094595
6       10042  2005      7  0.058824
7       10042  2005      8  0.079365
8       10042  2005      9  0.096774
9       10042  2005     10  0.152778
10      10042  2005     11  0.160920
11      10042  2005     12  0.085366
12      10051  2005      1  0.029451
13      10051  2005      2  0.041322
14      10051  2005      3  0.126645
15      10051  2005      4  0.028765
16      10051  2005      5  0.034623
17      10051  2005      6  0.039916
18      10051  2005      7  0.277879
19      10051  2005      8  0.028728
20      10051  2005      9  0.036276
21      10051  2005     10  0.021812
22      10051  2005     11  0.037866
23      10051  2005     12  0.026978
24      10085  2005      1  0.034001
25      10085  2005      2  0.030945
26      10085  2005      3  0.022088
27      10085  2005      4  0.060274
28      10085  2005      5  0.050654
29      10085  2005      6  0.045619
...       ...   ...    ...       ...
23522   92583  2005      7  0.069638
23523   92583  2005      8  0.015464
23524   92583  2005      9  0.052632
23525   92583  2005     10  0.103896
23526   92583  2005     11  0.101887
23527   92583  2005     12  0.034545
23528   92655  2005      1  0.025626
23529   92655  2005      2  0.023404
23530   92655  2005      3  0.028357
23531   92655  2005      4  0.029203
23532   92655  2005      5  0.021441
23533   92655  2005      6  0.026695
23534   92655  2005      7  0.033360
23535   92655  2005      8  0.020206
23536   92655  2005      9  0.025545
23537   92655  2005     10  0.041144
23538   92655  2005     11  0.033647
23539   92655  2005     12  0.026896
23540   93105  2005      1  0.010070
23541   93105  2005      2  0.026714
23542   93105  2005      3  0.018219
23543   93105  2005      4  0.019502
23544   93105  2005      5  0.081582
23545   93105  2005      6  0.058889
23546   93105  2005      7  0.070764
23547   93105  2005      8  0.027197
23548   93105  2005      9  0.039675
23549   93105  2005     10  0.031378
23550   93105  2005     11  0.051813
23551   93105  2005     12  0.037576

[23552 rows x 4 columns]